/* section header */

.navbar {
	background-color: #005794;
	color: #80abc9;
	border-radius: 0;
	height: 56px;
	margin-bottom: 0;
	z-index: 1000;
}

.navbar .navbar-nav li a {
	color: #7fabc9;
	text-transform: uppercase;
	font-size: 16px;
}

.navbar-nav a:focus, a:hover{
	color: #fff !important;
	background-color: transparent !important;
}

.navbar .navbar-collapse {
	background-color: #005794;
}

.share-header {
	color: #fff !important;
}

.navbar-right {
	display: block;
}

	
@media (max-width: 768px) {

    .navbar .navbar-collapse {
        text-align: center;
    }

	.navbar-right li {
		display: inline-block;
	}

}

.header-banner {
	width: 100%;
	background: url('../img/head-image.png') no-repeat center center;
	background-size: cover;
	padding-top: 40px;
	padding-bottom: 40px;
}

.emblem {
	height: 120px;
	width: 120px;
	background-color: #fff;
}

.emblem img {
	width: 100%;
	padding: 10px;
}

.banner-text {
	color: #fff;
	margin-left: -50px;
}

.banner-text .main {
	text-transform: uppercase;
	font-size: 30px;
	font-family: MuseoSansCyrl100;
}

.banner-text .minor {
	font-size: 20px;
	font-family: MuseoSansCyrl300; 
	color: #1796e7;
	padding-top: 10px;
}

.icon-bar {
	background-color: #fff
}

@media (max-width: 992px) {

	.header-banner {
		margin-bottom: 0;
	}

	.emblem {
		margin: 0 auto;
	}

	.banner-text {
		text-align: center;
		margin: 50px 0;
	}

	.banner-text .main {
		font-size: 30px;
	}
	
	.banner-text .minor {
		font-size: 20px;
	}
}
  /******************/
 /* section medals */
/******************/
.medals {
	margin-top: 15px;
	margin-bottom: 40px;
}

.section-title {
	font-family: MuseoSansCyrl700;
	font-size: 24px;
	margin: 2px 0;
	margin-left: 15px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #f4fcfe;
}

/* №1 table */

th {
	height: 40px;
	vertical-align: middle !important;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.table-title-wrapper {
	margin-bottom: 10px;
}

.table-title {
	font-size: 18px;
	float: left;
}

.table {
	table-layout: fixed;
}

.grey-title {
	color: grey;
	float: right;
	padding-top: 5px;
}

.all-table {
	font-family: MuseoSansCyrl500;
	font-size: 12px;
}

.all-thead {
	background-color: #1689cc; 
	color: #fff;
}

.centred-tb-text > th {
	text-align: center;

}

.num-col, .flag-col {
	width: 40px;
}

.num {
	width: 20px;
	margin: 0 auto;
	text-align: center;
}

.flag-col img {
	width: 100%;
}

.country-name {
	text-align: left;
}

.medal {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 1px solid #fff;
	display: inline-block;
	position: relative;
}

.gold {
	background-color: #f7c12b;
	z-index: 3;
}

.silver {
	background-color: #bec4c2;
	z-index: 2;
}

.bronze {
	background-color: #80544b;
	z-index: 1;
	margin-right: 0px !important;
}

.medals-wrapper > .medal {
	margin-right: -7px;
}

/* №2 table */

.ua-thead {
	background-color: #095891;
	color: #fff;
}

.sp-name-col {
	width: 30%;
}

.sport-name {
	text-align: left;
}

.img-col {
	height: 40px;
	width: 40px;
	padding: 0 !important;
}

.img-col img {
	width: 100%;
}

/* №3 table */
.type-col {
	width: 20%;
}

.initials-col {
	width: 35%;
}

.name-col {
	width: 30%;
}

.date-col {
	width: 15%
}

.col-content {
	margin-left: 5px;
}

/* news slider section */

.news-section {
	background: url('../img/bg.svg') no-repeat center;
	background-size: cover;
	padding: 36px 0;
	margin-top: 50px;
}

.title {
	font-size: 20px;
	color: #fff;
	margin: 10px 0;
}

.news-title {
	font-family: MuseoSansCyrl300;
	font-size: 14px;
	color: #fff;
	margin-top: 15px;
}

.short-news {
	border-bottom: 1px solid #f0f0f0;
	padding: 10px 0;
	margin: 0;
}

.first-short-news {
	padding-top: 0;
}

.last-short-news {
	border-bottom: none;
}

.tile-news {
	margin-top: 20px;
}

.news-image {
	position: relative;
}

.news-image img {
	width: 100%;
}

.label {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #e84560;
	border-radius: 0;
	padding: 10px;
}

.news .date {
	font-size: 12px;
	color: #84bfdf;
	margin-top: 5px;
}

.news:hover {
	text-decoration: none !important;
}
/* section footer */

.footer .navbar {
	background-color: #fff;
}

.footer-collapse {
	background-color: #fff !important;
}

.share {
	display: inline-block;
	margin-left: 15px;
	font-size: 14px;
}

.share-footer {
	color: #337ab7 !important;
}

.share-footer:hover {
	cursor: pointer;
	color: #337ab7 !important;
}